* {
    font: 12pt Helvetica, sans-serif;
}

form.descanso {
    margin: 10px 50px;
    color: #666;
}

form.descanso .property input.value { display: none }
form.descanso .property div.value { display: inline-block }

form.descanso.editmode .property input.value { display: inline-block }
form.descanso.editmode .property div.value { display:none }

form.descanso .property * {
    display: inline-block;
    width: 100px;
}