body {
    font: 12pt Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

table td{
    border: 1px solid silver;
    padding: 2px 5px;
}

.resourcelist {
    .controls {
        .add { .cssbutton(#79bcff, #378ee5, #ffffff, #84bcf3, #bbdaf7, #528fcc); }
    }
}

#chooser {
    position: relative;
    border: 1px solid #ccc;
    .border-radius(5px);
    padding: 5px;
    width: 200px;
}

nav li {
    display: inline-block;
    .border-radius(3px);
    border: 1px solid #eee;
    padding: 0 10px;
}

.border-radius(@r) {
    -moz-border-radius: @r;
    -webkit-border-radius: @r;
    border-radius: @r; /* future proofing */
    -khtml-border-radius: @r; /* for old Konqueror browsers */
}

form.resourcepane.view,
.resourcelist  {
    margin: 10px 50px;
    color: #666;
    padding: 20px;
    border: 1px solid silver;
    
    .property {
        * {
            display: inline-block;
            //line-height: 18px;
        }
        .fieldName      { display: inline-block; width: 150px; height: 18px; }
        .valueInput     { display: none;         width: 150px; height: 18px;
                            border: 1px solid #ccc; font-size: 14px; margin: 2px  }
        .valueDisplay   { display: inline-block; width: 144px; height: 18px; padding: 2px; font-size: 14px }
        .fieldAction    { display: inline-block; width: 80px}
    }
    
    .controls {
        
        font-size: 0.8em;
        
        .edit {
            .cssbutton(#ededed, #dfdfdf, #777777, #dcdcdc, #ffffff, #ffffff);
            display: inline-block;
        }
        
        .cancel {
            .cssbutton(#ededed, #dfdfdf, #777777, #dcdcdc, #ffffff, #ffffff);
            display: none;
        }
        
        .submit {
            .cssbutton(#79bcff, #378ee5, #ffffff, #84bcf3, #bbdaf7, #528fcc);
            display: none;
        }

        .delete {
            .cssbutton(#f24437, #c62d1f, #ffffff, #d02718, #f5978e, #810d05);
            display: none;
            float: right;
        }
        
    }    

}

form.resourcepane.new {
    .controls {
        .edit {  }
    }
}


form.resourcepane.view.editmode {
    
    .property {
        .valueInput { display: inline-block }
        .valueDisplay { display: none }
    }
    
    .controls {
        
        .edit {
            display: none;
        }
    
        .cancel, .submit, .delete {
            display: inline-block;
        }
    }
}


.shadow {
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

.cssbutton ( @color1, @color2, @color3, @color4, @color5, @color6 ) {

    cursor: pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px @color5;
	-webkit-box-shadow:inset 0px 1px 0px 0px @color5;
	box-shadow: inset 0px 1px 0px 0px @color5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, @color1), color-stop(1, @color2) );
	background:-moz-linear-gradient( center top, @color1 5%, @color2 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@color1, endColorstr=@color2);
	background-color: @color1;
	color: @color3;
	border:1px solid @color4;
	.border-radius(2px);
	text-shadow:1px 1px 0px @color6;

    display:inline-block;
	padding:4px 6px;
	text-decoration:none;

    :active {
	    position:relative;
	    top:1px;
    }
    
    :hover {
    	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, @color2), color-stop(1, @color1) );
    	background:-moz-linear-gradient( center top, @color2 5%, @color1 100% );
    	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@color2, endColorstr=@color1);
    	background-color:@color2;
    }    
}